<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragments/header :: head">
		<title>Login</title>
	</head>
	<body>
		<br/>
		<br/>
		<br/>
		<div class="container" id="loginContainer" >
			<div class="row h-100">
				<div class="col-sm-3"></div>
				<div class="col-sm-6 my-auto">
					<div class="card card-blockmx-auto">
						<div class="row">
							<div class="col-sm-12 my-auto">
										<h5 class="card-header">Please Login</h5>
							</div>
						</div>
	
						<div class="row">
							<div class="col-sm-6 my-auto">
	
								<form action="/login" method="post">
									<fieldset>
										<div class="card-body">
											<div th:if="${param.error != null}">
												<p class="error">Failed to login.</p>
											</div>
											<div th:if="${param.logout != null}">You have been logged out.</div>
											<p>
												<label for="username">Username</label>
												<input type="text" id="username" name="username" />
											</p>
											<p>
												<label for="password">Password</label>
												<input type="password" id="password" name="password" />
											</p>
											<div>
												<button type="submit" class="btn btn-success" aria-pressed="true">Login</button>
											</div>
										</div>
									</fieldset>
<!-- 									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
								</form>
							</div>
	
						</div>
	
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
	</body>
</html>